<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="tags for website">
    <meta name="description" content="front-end starter">
    <meta name="author" content="Labrin.net">
    
      <title> Home - Project Title </title>

<link href="css/main.css" rel="stylesheet"></head>

<body>
    <section id="wallpaper-section" class="wallp-second" style="background: url(/assets/Rectangle\ 1.png);">
        <div class="overlay" style="background: url(/assets/Rectangle\ 2.png);"></div>
          <div class="mobile-menu">
            <div class="container d-flex flex-column h-100">
              <ul>
                <li>
                  <a class="active" href="index.html">Home</a>
                </li>
                <li>
                  <a href="services.html">Services</a>
                </li>
                <li>
                  <a href="projects.html">Projects</a>
                </li>
                <li>
                  <a href="team.html">Team</a>
                </li>
                <li>
                  <a href="">Pricing</a>
                </li>
              </ul>
              <div class="langSelectContainer">
                <span>LANGUAGE:</span>
                <div class="language">
                  <p>EN</p>
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px" y="0px" width="255px" height="255px" viewBox="0 0 255 255"
                    style="enable-background:new 0 0 255 255;" xml:space="preserve">
                    <g>
                      <g id="arrow-drop-down">
                        <polygon points="0,63.75 127.5,191.25 255,63.75" />
                      </g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        
          <div class="selectLanguage">
            <div class="miniHeader">
              <div class="content">
                <span>Language</span>
              </div>
              <div class="closeIconLang">
                <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="2.22217" width="25.1415" height="3.14269" transform="rotate(45 2.22217 0)" fill="#566178" />
                  <rect y="17.7772" width="25.1416" height="3.14269" transform="rotate(-45 0 17.7772)" fill="#566178" />
                </svg>
              </div>
            </div>
            <div class="checkbox-wrapper">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="lang" id="az" value="az">
                <label class="form-check-label" for="az">
                  AZ
                </label>
              </div>
        
              <div class="form-check">
                <input class="form-check-input" type="radio" name="lang" id="en" value="en" checked>
                <label class="form-check-label" for="en">
                  EN
                </label>
              </div>
        
              <div class="form-check">
                <input class="form-check-input" type="radio" name="lang" id="ru" value="ru" checked>
                <label class="form-check-label" for="ru">
                  РУС
                </label>
              </div>
            </div>
          </div>
        
        <header>
            <div class="header-top">
                <div class="container">
                    <div class="row d-flex justify-content-between align-items-center h-100">
                        <div class="col-7 d-lg-flex d-none align-items-center">
                            <div class="item">
                                <img src="/assets/location (1) 1.png" alt="">
                                <span>H.Aliyev 55 str.,Baku,Azerbaijan</span>
                            </div>
                            <div class="item">
                                <img src="/assets/Vector.png" alt="">
                                <span>+994 051 568 66 55</span>
                            </div>
                        </div>
                        <div class="col-lg-5 col-12 d-flex justify-content-end">
                            <div class="social-icons">
                                <a href="">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                            <div class="container-select-language">
                                <div class="items-top-footer drop-down-key">
                                    <p>aze</p>
                                    <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M3.52938 4.9625L0.531882 1.53625C0.178132 1.13312 0.465632 0.5 1.00251 0.5H6.99751C7.11766 0.499897 7.23529 0.53443 7.33633 0.599463C7.43736 0.664496 7.5175 0.757273 7.56716 0.866683C7.61682 0.976093 7.63389 1.0975 7.61633 1.21636C7.59876 1.33522 7.54731 1.4465 7.46813 1.53687L4.47063 4.96187C4.41197 5.029 4.33962 5.08281 4.25845 5.11967C4.17728 5.15654 4.08916 5.17561 4.00001 5.17561C3.91085 5.17561 3.82274 5.15654 3.74156 5.11967C3.66039 5.08281 3.58804 5.029 3.52938 4.96187V4.9625Z"
                                            fill="white" />
                                    </svg>
                                </div>
                                <div class="drop-down-language">
                                    <ul>
                                        <li data-id="en">
                                            ENG
                                        </li>
                                        <li data-id="az">
                                            RUS
                                        </li>
                                        <li data-id="ru">
                                            AZE
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-5">
                            <a href="index.html" class="logo">
                                <img src="/assets/logo.svg" alt="">
                            </a>
                        </div>
                        <div class="col-md-6 d-lg-flex d-none align-items-center justify-content-center">
                            <ul class="menu">
                                <li>
                                    <a class="active" href="index.html">Home</a>
                                </li>
                                <li>
                                    <a href="services.html">Services</a>
                                </li>
                                <li>
                                    <a href="projects.html">Projects</a>
                                </li>
                                <li>
                                    <a href="team.html">Team</a>
                                </li>
                                <li>
                                    <a href="">Pricing</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-7 d-flex align-items-center justify-content-end">
                            <button class="btn_outline">
                                Contact us
                            </button>
                            <button id="toggleMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <!-- Button up -->
        <button class="buttonUp">
            <img src="/assets/ArrowDownShort.svg" alt="">
        </button>
        <!-- Button up -->        <div class="wallp-content wallpaper-mg">
            <div class="dark-line dark-line-height">
                <p>We partner with customers to provide successful solutions <br>
                    that deliver real results!</p>
            </div>
            <button class="btn_normal">
                Contact us
            </button>
        </div>
    </section>

    <section class="logo-section logo-second">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-6">
                    <a href="" class="item">
                        <img src="/assets/Group 18.svg" alt="">
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <a href="" class="item">
                        <img src="/assets/Group 18.svg" alt="">
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <a href="" class="item">
                        <img src="/assets/Group 18.svg" alt="">
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <a href="" class="item">
                        <img src="/assets/Group 18.svg" alt="">
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <a href="" class="item">
                        <img src="/assets/Group 18.svg" alt="">
                    </a>
                </div>
                <div class="col-lg-2 col-md-4 col-6">
                    <a href="" class="item">
                        <img src="/assets/Group 18.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="tb_fifth_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="card_tb_fifth">
                        <div class="tb_card_top_header">
                            <img src="/assets/Rectangle 42.png" alt="">
                        </div>
                        <div class="tb_card_header">
                            <h5>User Experience</h5>
                            <p>
                                We analyze every aspect of your industry and apply our digital expertise to provide a
                                roadmap
                                for success.
                            </p>
                        </div>
                        <div class="tb_card_body">
                            <ul>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Competitive & User Research</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Digital Strategy & SEO Optimization</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Information Architecture</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Usability Testing</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Content Planning</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card_tb_fifth">
                        <div class="tb_card_top_header">
                            <img src="/assets/Rectangle 42.png" alt="">
                        </div>
                        <div class="tb_card_header">
                            <h5>User Experience</h5>
                            <p>
                                We analyze every aspect of your industry and apply our digital expertise to provide a
                                roadmap
                                for success.
                            </p>
                        </div>
                        <div class="tb_card_body">
                            <ul>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Competitive & User Research</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Digital Strategy & SEO Optimization</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Information Architecture</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Usability Testing</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Content Planning</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card_tb_fifth">
                        <div class="tb_card_top_header">
                            <img src="/assets/Rectangle 42.png" alt="">
                        </div>
                        <div class="tb_card_header">
                            <h5>User Experience</h5>
                            <p>
                                We analyze every aspect of your industry and apply our digital expertise to provide a
                                roadmap
                                for success.
                            </p>
                        </div>
                        <div class="tb_card_body">
                            <ul>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Competitive & User Research</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Digital Strategy & SEO Optimization</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Information Architecture</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Usability Testing</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Content Planning</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card_tb_fifth">
                        <div class="tb_card_top_header">
                            <img src="/assets/Rectangle 42.png" alt="">
                        </div>
                        <div class="tb_card_header">
                            <h5>User Experience</h5>
                            <p>
                                We analyze every aspect of your industry and apply our digital expertise to provide a
                                roadmap
                                for success.
                            </p>
                        </div>
                        <div class="tb_card_body">
                            <ul>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Competitive & User Research</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Digital Strategy & SEO Optimization</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Information Architecture</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Usability Testing</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Content Planning</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card_tb_fifth">
                        <div class="tb_card_top_header">
                            <img src="/assets/Rectangle 42.png" alt="">
                        </div>
                        <div class="tb_card_header">
                            <h5>User Experience</h5>
                            <p>
                                We analyze every aspect of your industry and apply our digital expertise to provide a
                                roadmap
                                for success.
                            </p>
                        </div>
                        <div class="tb_card_body">
                            <ul>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Competitive & User Research</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Digital Strategy & SEO Optimization</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Information Architecture</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Usability Testing</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Content Planning</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card_tb_fifth">
                        <div class="tb_card_top_header">
                            <img src="/assets/Rectangle 42.png" alt="">
                        </div>
                        <div class="tb_card_header">
                            <h5>User Experience</h5>
                            <p>
                                We analyze every aspect of your industry and apply our digital expertise to provide a
                                roadmap
                                for success.
                            </p>
                        </div>
                        <div class="tb_card_body">
                            <ul>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Competitive & User Research</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Digital Strategy & SEO Optimization</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Information Architecture</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Usability Testing</p>
                                </li>
                                <li>
                                    <img src="/assets/Check.svg" alt="">
                                    <p>Content Planning</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="inner-sect">
            <div class="container d-flex flex-column align-items-center">
                <h4>We have experience in Digital Agency</h4>
                <p>Always strive for better work</p>
                <button class="btn_normal">Contact us</button>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-3 col-12 d-none d-md-block">
                    <a href="" class="footer-logo">
                        <img src="/assets/Group 1.svg" alt="">
                    </a>
                    <p class="footer-content">Master Writers a trusted name for providing assistants. Who are loyal to their
                        industry, experienced and
                        professiona</p>
                    <div class="footer-items">
                        <div class="">
                            <img src="/assets/location (1) 1.png" alt="">
                            <p>H.Aliyev 55 str.,Baku,Azerbaijan</p>
                        </div>
                        <div class="">
                            <img src="/assets/location (1) 1.png" alt="">
                            <p>+994 051 568 66 55</p>
                        </div>
                        <div class="">
                            <img src="/assets/location (1) 1.png" alt="">
                            <p>b@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="mini-title-footer">
                        <h4>Useful links</h4>
                    </div>
                    <div class="footer-links">
                        <a href="">
                            <p>Home</p>
                            <img src="/assets/ArrowRightShortDark.svg" alt="">
                        </a>
                        <a href="">
                            <p>Services</p>
                            <img src="/assets/ArrowRightShortDark.svg" alt="">
                        </a>
                        <a href="">
                            <p>Projects</p>
                            <img src="/assets/ArrowRightShortDark.svg" alt="">
                        </a>
                        <a href="">
                            <p>Team</p>
                            <img src="/assets/ArrowRightShortDark.svg" alt="">
                        </a>
                        <a href="">
                            <p>Prising</p>
                            <img src="/assets/ArrowRightShortDark.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="mini-title-footer">
                        <h4>What we do</h4>
                    </div>
                    <div class="footer-links">
                        <a href="">
                            <p>Web & Mobile development</p>
                            <img src="/assets/ArrowRightShortDark.svg" alt="">
                        </a>
                        <a href="">
                            <p>DevOps</p>
                            <img src="/assets/ArrowRightShortDark.svg" alt="">
                        </a>
                        <a href="">
                            <p>UI/UX design</p>
                            <img src="/assets/ArrowRightShortDark.svg" alt="">
                        </a>
                        <a href="">
                            <p>Digital brandings</p>
                            <img src="/assets/ArrowRightShortDark.svg" alt="">
                        </a>
                        <a href="">
                            <p>Manage investment</p>
                            <img src="/assets/ArrowRightShortDark.svg" alt="">
                        </a>
                    </div>
                    <div class="mobile-version">
                        <div class="footer-items">
                            <div class="">
                                <img src="/assets/location (1) 1.png" alt="">
                                <p>H.Aliyev 55 str.,Baku,Azerbaijan</p>
                            </div>
                            <div class="">
                                <img src="/assets/location (1) 1.png" alt="">
                                <p>+994 051 568 66 55</p>
                            </div>
                            <div class="">
                                <img src="/assets/location (1) 1.png" alt="">
                                <p>b@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12 d-none d-md-block">
                    <div class="mini-title-footer">
                        <h4>Newsletter</h4>
                    </div>
                    <form action="">
                        <p>Get in your inbox the latest News</p>
                        <div class="inputGroup">
                            <input type="text" placeholder="Your name">
                        </div>
                        <div class="inputGroup">
                            <input type="text" placeholder="Email adress">
                        </div>
                        <button class="btn_normal">Subscribe</button>
                    </form>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© 2020 Master Writers</p>
                <a href="" class="footer-logo-second">
                    <img src="../assets/logo.svg" alt="">
                </a>
            </div>
        </div>
    </footer>
<script type="text/javascript" src="js/main.js"></script></body>

</html>